<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
  }
  .btncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
  }
  body {
    background-color: black;
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
</style>

<img
  src="https://cdn.glitch.com/dab263af-8541-4645-89f9-d10728836068%2Ftenor.gif?v=1603827420774"
  class="center"
/>
<p class="center">404 PAGE NOT FOUND</p>
<button onclick="window.location.href='/'" class="btncenter">
  return to home
</button>
